body{
    background-color: rgb(214, 239, 234);
}
.box{
    display: flex;
    justify-content: center;
}
.title{
    width: 100%;
    text-align: center;
    background-color: #3DB2FF;
    padding: 20px;
    height: 100px;
}
h1{
    padding-left: 250px;
}
.dangxuat{
    padding-top: 14px;
}
.dethi{
    padding: 25px;
    margin-top: 30px;
    width: 70%;
    background-color: white;
    border-radius: 20px;
}
span{
    font-style: italic;
}
.col-4{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
.lambai{
    background-color: white;
    color: #000;
    width: 100px;
    border: 1px solid;
    border-radius: 5px;
    margin-top: -5px;
}
.lambai:hover{
    background-color: #F8F9D7;
}