body{
    background-color: rgb(214, 239, 234);
}

p{
    font-size: 20px;
}
.color{
    height: 100px;
    width: 100%;
    background-color: #3DB2FF;
}
.box{
    display: flex;
    justify-content: center;
}

.title{
    max-width: 700px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    margin: -50px 0px 20px 0px;
}
.cauhoi {
    max-width: 700px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    padding: 20px 30px;
    margin-bottom: 20px;
    border: 1px solid 	#66CDAA;
}